@import "./custom-properties.scss";
@import "./typography.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-sans);
    font-size: var(--font-base-size);
    line-height: var(--font-base-line-height);
}

body {
    -webkit-font-smoothing: antialiased;
    background: var(--color-white);
    color: var(--color-black);
    margin: 0;
    overflow: auto;

    &.hide-scroll {
        overflow: hidden;
    }
}

html,
body,
body>div,
body>div>div {
    height: 100%;
}

.lineParent {
    overflow: hidden;
}