@font-face {
    font-family: "Syne Regular";
    src: url("../assets/fonts/Syne-Regular.ttf");
}

@font-face {
    font-family: "Syne Medium";
    src: url("../assets/fonts/Syne-Medium.ttf");
}

@font-face {
    font-family: "Syne SemiBold";
    src: url("../assets/fonts/Syne-SemiBold.ttf");
}

@font-face {
    font-family: "Syne Bold";
    src: url("../assets/fonts/Syne-Bold.ttf");
}

@font-face {
    font-family: "Syne ExtraBold";
    src: url("../assets/fonts/Syne-ExtraBold.ttf");
}